{% extends "master.html.twig" %}
{% block pageheader %}{% endblock %}


{% block content %}


    <!--SELECT s.symbol, s.qty, p.bid FROM portfolios p, symbols s WHERE p.symbol = s.symbol AND p.userId= ???-->

    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-table fa-fw"></i> Buy/Sell Ticket</h3>
    </div>

    <div class="panel-body">
        <div class="row">


            <!--BUY Ticket-->
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h2>Ask: {{t.ask}}</h2>
                        <br>
                        <form method="post">
                            Qty: <input type="number" min="1" max="{{maxbuy}}"  value="1" step="1" name="qty"><br>
                            <input type="hidden" name="type" value="buy">
                            <br>
                            <button type="submit" id="myBtn" class="btn btn-primary btn-md">Buy</button>
                        </form>

                    </div>
                </div>
                <div class="thumbnail">
                    <div class="caption">
                        <h2>Bid: {{t.bid}}</h2>
                        <br>
                        <form method="post">
                            Qty: <input type="number" min="0" max="{{maxsell}}"  value="100" step="1" name="qty"><br>
                            <br>
                            <input type="hidden" name="type" value="sell">
                            <button type="submit" class="btn btn-primary btn-md">Sell</button>
                        </form>

                    </div>

                </div>       

            </div>


            <!--Sell Ticket-->
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h1>{{t.name}}</h1>
                        <h3>High: {{t.high}} </h3>
                        <h3>Low: {{t.low}}</h3>
                        <h3>High52: {{t.high52}}</h3>
                        <h3>Low52: {{t.low52}}</h3>
                        <h3>Open: {{t.open}}</h3>
                        <h3>Close: {{t.previousClose}}</h3>
                    </div>
                </div>
            </div>  


            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h2>User: {{u.name}}</h2>
                        <br>
                        <h3>Cash: ${{u.cash}}</h3>
                        <br>
                        <h3>Equity: ${{u.equity}}</h3>
                        <br>
                        <h3>Balance: ${{u.equity - 50000}}</h3>
                        <br>
                        <a href="/portfolio"><button type="button" class="btn btn-primary btn-md">Portfolio</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--Chart-->


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</h3>
    </div>
    <div class="panel-body">


        <div id="container" style="height: 580px; min-width: 310px"></div>
    </div>



    <script>
        $.getJSON('/fetch/{{t.symbol}}', function (data) {

            // create the chart
            Highcharts.stockChart('container', {

                rangeSelector: {
                    selected: 1
                },

                title: {
                    text: '{{t.name}}'
                },

                series: [{
                        type: 'candlestick',
                        name: 'Stock Price',
                        data: data,
                        dataGrouping: {
                            units: [
                                [
                                    'week', // unit name
                                    [1] // allowed multiples
                                ], [
                                    'month',
                                    [1, 2, 3, 4, 6]
                                ]
                            ]
                        }
                    }]
            });
        });

    </script>



{% endblock %}

