{% extends "master.html.twig" %}

{% block content %}
    <div class="card mb-3">
        <div class="list-task" margin-left="10%" >
            <h2 class="list-task-heading">
                <strong>Stock List</strong>
            </h2>
            <form method="post" >
                <div class="table-responsive">
                    <table class="table table-bordered"  width="100%" id="dataTable" cellspacing="0">
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Bid</th>
                        <th>Ask</th>
                        <th>Open</th>
                        <th>Prev Close</th>
                        <th>Last Trade</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Volume</th>
                        <th>High 52</th>
                        <th>Low 52</th>
                        <th>Action</th>

                        {% for t in symbols %}
                            <tbody>
                                <tr>
                                    <td>{{ t.symbol }}</td>
                                    <td>{{ t.name }}</td>
                                    <td>{{ t.bid }}</td>
                                    <td>{{ t.ask }}</td>
                                    <td>{{ t.open }}</td>
                                    <td>{{ t.previousClose }}</td>
                                    <td>{{ t.lastTrade }}</td>
                                    <td>{{ t.high }}</td>
                                    <td>{{ t.low }}</td>
                                    <td>{{ t.volume }}</td>
                                    <td>{{ t.high52 }}</td>
                                    <td>{{ t.low52 }}</td>


                                    <td><a href="/buysell/{{t.id}}">buy/sell </a>

                                </tr>
                            </tbody>

                        {% endfor %}
                    </table>
                </div>
                <div class="list-task-footer">
                    <div class ="error-message">

                    </div>
                    <button type="submit" class="btn btn--right"><a href="/add" class='btn--no--underline'>Add Task</a></button>
                </div>
            </form>    
        </div>
    </div>

{% endblock %}
