{% extends "master.html.twig" %}



{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-table fa-fw"></i> Order Details</h3>
    </div>

    <div class="panel-body">
        <div class="card mb-3" padding-left="10%">

            <div class="list-task">
                <form method="post" >
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-striped"  width="100%" id="dataTable" cellspacing="0">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>Symbol</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Buy/Sell</th>
                                        <th>Time Placed</th>
                                    </tr>
                                </thead>
                                <tfoot class="thead-inverse">
                                    <tr>
                                        <th>Symbol</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Buy/Sell</th>
                                        <th>Time Placed</th>
                                    </tr>
                                </tfoot>

                                <tbody>
                                    {% for t in transactions %}
                                        <tr>
                                            
                                            <td ><strong><a href="/chart/{{t.symbol}}">{{t.symbol}}</strong></td>
                                            <td>{{ t.price }}</td>
                                            <td>{{ t.qty }}</td>
                                            <td>{{ t.type }}</td>
                                            <td>{{ t.date }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="list-task-footer">
                        <div class ="error-message">

                        </div>

                    </div>
                </form>    
            </div>
        </div>


    </div>



{% endblock %}